# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Docker
*.log

# VS Code
.vscode/
*.code-workspace

#Terragrunt and terraform
.terragrunt-cache/
terraform.tfstate
terraform.tfstate.backup
.terraform
*.tfstate
*.tfstate.backup
secrets.tf

#asdf
.tool-versions